<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjwsjy.talents.dao.Dim_org_orgs2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjwsjy.talents.entity.Dim_org_orgs2">
        <result column="shortname" property="shortname" />
        <result column="seq" property="seq" />
    </resultMap>

    <select id="getOrgEmployeeNum" resultType="map">
        SELECT
            analysisorg1 'org',
            COUNT (pk_psndoc) 'num',
            o.seq 'order'
        FROM
            hr_dim_org_orgs2 o
        INNER JOIN hr_dm_num_cube n ON o.shortname = n.analysisorg1
        GROUP BY
            n.analysisorg1,
            o.seq
        ORDER BY
            o.seq
    </select>

    <select id="getEmployeeType" resultType="map">
        SELECT
            rylb 'rylb',
            COUNT (pk_psndoc) 'num'
        FROM
            hr_dim_org_orgs2 o
        INNER JOIN hr_dm_num_cube n ON o.shortname = n.analysisorg1
        where 1=1
        <if test="org!=null and org!=''">
        and n.analysisorg1=#{org}
        </if>
        GROUP BY
            n.rylb
        ORDER BY n.rylb
    </select>
</mapper>
