<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjwsjy.talents.dao.Dm_xmjlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjwsjy.talents.entity.Dm_xmjl">
        <result column="pk_psndoc_sub" property="pk_psndoc_sub" />
        <result column="pk_psndoc" property="pk_psndoc" />
        <result column="begindate" property="begindate" />
        <result column="enddate" property="enddate" />
        <result column="glbdef1" property="glbdef1" />
        <result column="glbdef2" property="glbdef2" />
        <result column="glbdef3" property="glbdef3" />
        <result column="glbdef4" property="glbdef4" />
        <result column="glbdef5" property="glbdef5" />
        <result column="glbdef6" property="glbdef6" />
        <result column="glbdef7" property="glbdef7" />
        <result column="glbdef8" property="glbdef8" />
        <result column="glbdef9" property="glbdef9" />
        <result column="glbdef10" property="glbdef10" />
        <result column="glbdef11" property="glbdef11" />
        <result column="recordnum" property="recordnum" />
    </resultMap>

</mapper>
